@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

$fontFamily: "Poppins";
$backgroundColor: #212121;
$fontColorActive: #8774e1;
$fontColor: #fff;
$backgroundColorMessages: #181818;

body {
  font-family: $fontFamily;
  padding: 0;
  margin: 0;
}